body {
  background-color: whitesmoke !important;
}
.headercard {
  /* margin-bottom: 10px; */
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.searchcard {
  display: flex;
  align-items: center;
  gap: 15px;
}
.searchcontainer {
  border: 1px solid #1d3dda;
  border-radius: 5px;
  padding: 0px 8px;
}
.searchcontainer input {
  border: none;
  outline: none;
  width: 399px;
  padding: 8px 8px;
}

.logo {
  width: 100px;
  height: 81px;
}
.homeicon {
  font-size: 27px;
}

.container-fluid {
  box-shadow: 0px 0px 2px;
}
.cartbag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.hover-or-click:hover .dropdown-menu {
  display: block;
  margin-top: 0.5rem;
}
.hover-or-click .dropdown-menu {
  display: none;
}
.hover-or-click:focus-within .dropdown-menu {
  display: block;
}

.categories {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.topcategoriesitemscard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* App.css */

/* carousel styles  start*/

.carousel-container {
  width: 80%;
  margin: 40px auto;
}

.carousel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-title {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

.carousel-slide {
  position: relative;
}

.shop-now-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 24px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-now-btn:hover {
  background-color: #e64a19;
}

/* carousel styles  end*/

/*  ectronics contrainecss start */
.econtainercard {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 3px;
}
.econtainercard img {
  width: 150px;
  height: auto;
  padding: 10px 10px;
}

.emaincard {
  background-color: white;
  border-radius: 13px;
  margin: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 11px;
  flex-direction: column;
  box-shadow: 0px 0px 1px;
}
/* elctronics css end */

/* CART HEADER CSS  */

.cart-headercard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

/* CART PRODUCTS CSS */

.set-pincode{
  width: 835px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  margin-bottom: 10px;
}

.set-pincode p{
    font-size: 15px;
    font-weight: 500;
    color: black;
    text-transform: capitalize;
    margin: 0px;


}
.set-pincode button{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    color: #2874f0;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 14px;
}


.cart-products{
  width: 835px;
  height: 430px;
  overflow-y: scroll;

}

/* width */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.cart-single-product{
  width: 100%;
  height: 200px;
  background-color: white ;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.cart-product-image-div{
  height: 112px;

}
.cart-product-image{
    width: 90px;
    height: 112px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.cart-product-detils{
  height: 112px;
  width: 460px;
  padding: 0px 30px 0px 30px;
}

.cart-product-name{
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-transform: capitalize;
    cursor: pointer;

}

.cart-product-name:hover{
  color: #2874f0;
}

.cart-product-size{
  font-size: 14px;
  font-weight: 400;
    color: black;
    text-transform: capitalize;

}

.cart-product-seller{
  font-size: 14px;
  font-weight: 400;
    color: black;
    text-transform: capitalize;

}

.cart-product-price{
  display: flex;
  align-items: baseline;
}
.product-price{
  margin-top: 18px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-decoration: line-through;
}

.discount-price{
  font-size: 18px;
  margin-right: 10px;
    font-weight: 500;
    color: #212121;

}

.discount-off{
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  color: green;

}

.availabile-offers{
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  color: green;
  cursor: pointer;

}

.delivery-date{
  height: 112px;
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.cart-product-top-row{
  display: flex;
  width: 100%;
}

.cart-product-buttons{
  padding-top: 10px;
  display: flex;
}
.quantity-of-product{
    display: flex;
    align-items: center;
    gap: 8px;

}
.quantity-input{
    width: 46px;
    height: 28px;
    text-align: center;
    border: 1px solid lightgray;
    padding: 7px;
    font-size: 14px;
}

.plus-button{
    font-size: 11px;
    width: 25px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 50%;
    text-align: center;

}

.minus-button{
    font-size: 11px;
    width: 25px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 50%;
    text-align: center;

}

.save-remove button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase; 
    padding-left: 25px;
    color: black;


}

.save-remove button:hover{
  color: #2874f0;
}




.cart-container{
  background-color: whitesmoke;
    width: 70%;
    height: 700px;
    padding-top: 10px;
    padding-left: 185px;
    padding-right: 10px;
}

.place-order{
    width: 835px;
    height: 100px;
    background-color: white;
    text-align: right;
    padding: 35px;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);

}

.place-order button{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    width: 250px;
    border-radius: 5px;
    height: 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.total-div{
  display: flex;
}

.price-container{
    width: 30%;
    height: 700px;
    padding-top: 10px;
    padding-right: 30px;
    background-color: whitesmoke;
    
}

.price-container-sticky{
  position: sticky;
    top: 0px;

}

.price-details{
    background-color: white;
    width: 350px;
    height: 45px;
}

.price-details h1{
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #616161;
}

.price-details hr{
  margin: 5px;
}

.price-summary{
  width: 350px;
  height: 350px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  padding-top: 20px;

}

.price-summary-1{
display: flex;
justify-content: space-between;
text-transform: capitalize;
}

.price-summary-1 p{
  font-size: 17px;
  font-weight: 400;
  color: black;
}
.price-itmes{
  color: green !important;

}

.total-amount{
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.you-save{
  color: green ;
  font-size: 19px;
  font-weight: 500;
  

}

.cart-footer-div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 45px;
}

.cart-footer-text{
  display: flex;
}

.cart-footer-text span{
  color: #2874f0;
  cursor: pointer;
}

.MdVerifiedUser-icon{
    width: 65px;
    height: 35px;
}


.verify-div{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 350px;
    padding: 14px;

}

.verify-div p{
  margin: 0px;
  font-size: 13px;
}

.checkout-header{
    text-align: start;
    padding-left: 105px !important;
    background-color: white;
}

/* checkout details */

.checkout-main-container{
    width: 100%;
    height: 1500px;
    display: flex;
    gap: 50px;
    background-color: whitesmoke;
    margin-top: 10px;
    padding-left: 140px;
    padding-top: 20px;
}
.checkout-deatils{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkout-login{
    width: 800px;
    background-color: white;
    height: 200px;
    margin-bottom: 55px;
}

.checkout-titles{
    background-color: #3b86ff;
    width: 800px;
    height: 50px;
    display: flex;
    align-items: center;

}

.checkout-serial{
    background-color: white;
    width: 20px;
    text-align: center;
    border-radius: 3px;
    margin: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #3b86ff;
}

.checkout-headings{
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    margin-top: 7px;
    font-weight: 500;
}

.checkout-login-details{
  display: flex;
  width: 100%;
    padding-left: 40px;
    padding-top:  15px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: 165px;
    background-color: white;
}

.phone-number span{
    text-transform: capitalize;
    color: grey;
    margin-right: 10px;
}

.phone-number{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;

}

.check-out-log-sign{
    font-size: 14px;
    font-weight: 700;
    color: #3b86ff;
    cursor: pointer;
    margin-bottom: 15px;
}

.continue-checkout-button{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    width: 265px;
    height: 50px;
    font-weight: 500;
    margin-bottom: 10px;
  
}
.advantages-login{
    font-size: 14px;
    font-weight: 500;
    color: grey;
}

.checkout-login-icons{
  font-size: 17px;
  margin-right: 5px;
  color: #3b86ff;
}

.advantages-text{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.checkout-login-div2{
  padding-left: 100px;
}

.note{
    width: 100%;
    height: 40px;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 1px;
    font-size: 13px;
    font-weight: 400;

}

.checkout-address-details{
  background-color: #f5faff;
  width: 800px;
  height: 640px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.checkout-add-address{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #3b86ff;
    margin-bottom: 15px;
}

.checkout-address-div1 span{
  margin-right: 10px;
}

.checkout-current-locaton{
    width: 215px;
    height: 45px;
    text-align: center;
    color: white;
    border: none;
    font-size: 13px;
    font-weight: 500;
    background-color: #3b86ff;
    margin-bottom: 15px;
}

.checkout-input{
    width: 270px;
    height: 50px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;

}

.checkout-input-textarea{
    width: 550px;
    height: 95px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.address-type{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: grey;
    margin-left: 14px;
    margin-top: 10px;
}

.checkoutdelivery-time{
    margin: 0px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-left: 14px;
    margin-top: 10px;
}

.checkoutdelivery-time span{
  margin-right: 10px;

}

.radio-choice{
  display: flex;
  align-items: center;
}

.checkout-address-button{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    width: 265px;
    height: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 27px;
    margin-left: 12px;

}

.checkout-order-summary-div1{
    width: 800px;
    background-color: white;
    height: 200px;
}

.gst-invoice{
  width: 800px;
  background-color: white;
  height: 50px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  margin-bottom: 12px;


}

.gst-invoice h1{
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}

.gst-invoice span{
  margin-right: 5px
}

.order-confirm-email{
    width: 800px;
    background-color: white;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.order-confirm-email h1{
  display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
}

.order-confirm-email input{
  border: none;
    background-color: #e0e0e0;
    width: 175px;
    padding: 5px;
    text-align: center;
    margin-left: 8px;
    border-bottom: 2px solid #4949ff;
}

.order-summary-button{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    width: 265px;
    height: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    margin: 0px;

}

.checkout-price-container{
    position: sticky;
    top: 10px;
}

/* payment page css */

.payment-main-container{
    width: 100%;
    height: 100vh;
}